* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #fff;
    border-radius: 10px;
    padding: 30px;
    width: 500px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
}


.title-section {
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 10px;
    margin-bottom: 20px;
}

.logo {
    width: 50px;
    height: auto;
}

h2 {
    font-size: 2rem;
    margin: 0;
    color: #333;
}

.row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

input {
    width: 73%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 20px;
    outline: none;
}

input:focus {
    border-color: #0f2515;
}



button {
    width: 25%;
    background-color: #01985e;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #1aa972;
}


ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    background-color: #f9f9fb;
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.3s ease;
    
}

li:hover {
    background-color: #efefef;
}


#list-container li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #f9f9f9;
    border-radius: 4px;
    list-style-type: none; 
}

.check-btn {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #4caf50;
    background-color: transparent;
    cursor: pointer;
    margin-right: 10px;
    position: relative;
}

/* When the task is completed, show a checkmark inside the circle */
.check-btn.checked::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    background-color: #4caf50;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Style for the delete button */
.remove-btn {
    background-color: #e74c3c;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
}

/* When a task is marked as completed, add a line-through */
.completed span {
    text-decoration: line-through;
    color: gray;
}

/* Styling for hover effects */
.check-btn:hover {
    background-color: #4caf50;
    border-color: #4caf50;
}

.remove-btn:hover {
    background-color: #c0392b;
}
